.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 16px;
}

.main-container {
  padding-bottom: 50px;
  min-height: 100vh;
  position: relative;
}

.rating{
  color:#ffc000;
}

.add-to-cart{
  padding: 5px 20px !important;
  background-color: #ffc000 !important;
  color: black !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
}
.product-pg-add-to-cart{
  width:100%;
}
.product-large-img{
  height:72%;
}